.signauth-container {
}

.sign-container-whole {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(204, 204, 204, 0.3);
  position: absolute;
  z-index: 10000;
}
.sign-container-whole .sign-container {
  height: 80vh;
  width: 80vw;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-container .left-container {
  width: 50%;
  height: 100%;
  background-color: rgb(242, 242, 242);
  padding: 20px;
  font-size: 0.9em;
}
.left-container .lc-header {
  font-size: 1.4em;
  margin-bottom: 15px;
}
.left-container #id1,
#id2,
#id3 {
  margin: 5px;
  font-size: small;
  color: gray;
}
.left-container .watch {
  margin: 20px 0;
  color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
}
.watch i {
  margin-right: 10px;
}
.left-container .link-container {
  display: flex;
  justify-content: center;
  /* border: 1px solid #ccc; */
  height: 3em;
  margin: 0 20px;
  font-weight: bold;
  color: gray;
}
.link-container .gp-link,
.as-link {
  height: 100%;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gp-link {
  margin-right: 50px;
}

.sign-container .right-container {
  width: 50%;
  height: 100%;
  background-color: rgb(248, 248, 248);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}
.right-container .cross {
  float: right;
  height: 3em;
  width: 3em;
  /* margin: 10px; */
  /* border: 1px solid black; */
  border-radius: 50%;
  cursor: pointer;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-bottom: 20px;
  font-size: 10px;
  font-weight: bold;
}
.cross:active {
  background-color: rgb(226, 74, 74);
}
.right-container .qrcode {
  height: 60%;
  width: 80%;
}
.qrcode img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.right-container .qrcode-line {
}
