.sign-container-whole {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.493);
  height: 100%;
  width: 100%;
  border: 1px solid red;
  z-index: 1000;
}
.sign-container-whole .sign-container {
  height: 60%;
  width: 50%;
  margin: 100px auto;
  border: 1px solid tomato;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 12px;
}

.cross {
  position: absolute;
  top: 0;
  right: 0;
  /* float: right; */
  border: 1px solid black;
  display: inline-block;
  padding: 5px;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  margin: 5px 5px 0 0;
  text-align: center;
  cursor: pointer;
}
.cross:hover {
  background-color: tomato;
}

.email-container,
.password-container {
  margin-bottom: 20px;
}

input {
  margin: 5px 0;
  /* width: 120%; */
}
.input-text{
  font-weight: bolder;
}

button {
  background-color: rgba(255, 99, 71, 0.521);
  border: 1px solid #ccc;
  padding: 7px 10px;
  border-radius: 12px;
}

button:active {
  background-color: rgba(255, 99, 71, 0.801);
}
